<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
      
      <!-- for Proxool jdbc con pool -->
      <property name="connection.provider_class">org.hibernate.proxool.internal.ProxoolConnectionProvider</property>
      <property name="proxool.pool_alias">pool1</property>
      <property name="proxool.xml">com/nt/cfgs/proxool.xml</property>
     
     <!-- hibernate propertoies -->
     <property name="show_sql">true</property>
     <property name="format_sql">true</property>
     <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
     <!-- Mapping file -->
     <mapping resource="com/nt/entity/InsurancePolicyDetails.hbm.xml"/>
  </session-factory>
</hibernate-configuration>        